button {
  background-color: #4053ff;
  border-radius: 4px;
  font-size: 14px;
  padding: 11px 20px;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  color: white;
  cursor: pointer;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
}
